@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('./assets/fonts/lexend/static/LexendDeca-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./assets/fonts/lexend/static/LexendDeca-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./assets/fonts/lexend/static/LexendDeca-Bold.ttf') format('truetype');
}
